/*header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
 /* header css code*/

.header{
    background-color: #120838;
    position: absolute;
    top:0px;
    width: 100%;
    height:10%;
    position: fixed;
 
}
.nav_links {
    display:flex;
    list-style-type: none;
    position:absolute;
    right:10px;
    top:10px;

}
.nav_links li a {
    text-decoration: none;
    color:red;

}
.nav_links li {
    padding: 18px 10px;
    margin-right: 10px;
    color:red;

}
.nav_links li:hover {
    color:red;
    background-color: white;
    border-radius: 5px;
}

.title {
    color:rgb(250, 247, 247);
    position:absolute;
    top:10px;
    left:10px;

}
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #0c022e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}

.project {
    background: rgb(6, 6, 78);
    border-radius: 10px;
    color:white;
    box-shadow: 0 0 10px rgba(66, 70, 128, 0.1);
    overflow: hidden;
    width: 300px;
    height:250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top:35%;
    left:20%;
    align-items: center;
    animation-name:animatedProject;
    animation-delay: 0s;
    animation-duration: 1s;
}
.project:hover {
    transform:translate(0px, -10px);
    transition:all 0.3s ease-in;
}


.project img {
    width: 40%;
    height: 50%;
    margin-top: 10px;
    border-radius: 50%;
    
}

.project-info {
    padding: 15px;
}

.project-info p {
    margin-bottom: 10px;
    margin-top: -40px;
    color: #fffdfd;
}

.project-info button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.project-info button:hover {
    background: #0056b3;
}
